<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enchère</title>
<link rel="stylesheet" th:href="@{/css/enchere-structure.css}" />
<link rel="stylesheet" th:href="@{/css/tp-form.css}" />
<link rel="stylesheet" th:href="@{/css/tp-error.css}" />
</head>
<body>
	<header th:replace="~{fragments/fragment-entete :: entete}"></header>
	
	<main>
		<form th:action="@{/forgotPassword}" method="POST">
	
		<div class="cards" th:if="${erreurs}">
		    <h2>Erreur :</h2>
		    <ul>
		        <li th:each="err : ${erreurs}" th:text="${err}">Erreur inconnue</li>
		    </ul>
		</div>
			<div th:if="${token} != null">
				 <a th:href="@{/resetPassword(token=${param.token})}">Cliquez ici pour réinitialiser votre mot de passe</a>

			</div>
			<label for="idEmail">Email : </label>
			<input id="idEmail" type="email" name="email"/>
			
			<div>
				<button type="submit">Soumettre</button>
			</div>
			<div>
				<a class="button" th:href="@{/encheres}">Annuler</a>
			</div>
		</form>
	</main>
	
	
	<footer th:replace="~{fragments/fragment-footer :: footer}"></footer>
</body>
</html>