<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Enchères</title>
	<link rel="stylesheet" th:href="@{/css/general.css}" />
	<link rel="stylesheet" th:href="@{/css/tp-form.css}" />
	<link rel="stylesheet" th:href="@{/css/tp-error.css}" />
</head>
<body>
<div th:replace="~{fragments/fragment-entete :: entete}"></div>


	<form th:action="@{/login}" method="POST"  >
		<p th:if="${param.error}">Mail ou mot de passe invalide</p>
			
		<ul class="flex-outer">
			<li>
				<label for="idpseudo">Identifiant :</label>
				<input id="idpseudo" type="text" name="pseudo"/>
			</li>
			<li>
				<label for="idPassword">Mot de passe :</label>
				<input id="idPassword" type="password" name="mot_de_passe"/>
			</li>
					
			<li>
				<button type="submit">Connexion</button>
			</li>
			
			<li>
				<a th:href="@{/inscription}">Créer un compte</a>
			</li>
		</ul>
	
	
	</form>
	
<div th:replace="~{fragments/fragment-footer :: footer}"></div>
	
</body>
</html>