<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enchères</title>


</head>
<body>
<header th:replace="~{fragments/fragment-entete :: entete}">

</header>

<main>
	<form action="@{/profil}" th:object="${utilisateur}">
		<ul class="flex-outer">
		
			<li>
				<p th:field ="*{pseudo}">Pseudo : </p>
			</li>
			<li>
				<p th:field ="*{nom}">Nom : </p>
			</li>
			<li>
				<p th:field ="*{prenom}">Prénom : </p>
			</li>
			<li>
				<p th:field ="*{email}">Email : </p>
			</li>
			<li>
				<p th:field ="*{telephone}">Téléphone : </p>
			</li>
			<li>
				<p th:field ="*{rue}">Rue : </p>
			</li>
			<li>
				<p th:field ="*{codePostal}">Code postal : </p>
			</li>
			<li>
				<p th:field ="*{ville}">Ville : </p>
			</li>
			
		</ul>
	</form>
</main>

<footer th:replace="~{fragments/fragment-footer :: footer}">
</footer>
</body>
</html>