<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enchères</title>
<link rel="stylesheet" th:href="@{/css/enchere-structure.css}" />
<link rel="stylesheet" th:href="@{/css/tp-form.css}" />
<link rel="stylesheet" th:href="@{/css/tp-error.css}" />
</head>
<body>
<header th:replace="~{fragments/fragment-entete :: entete}"></header>
<main>

	<form th:action="@{/resetPassword/formulaire}" method="POST">
		<div class="cards" th:if="${erreurs != null}">
        <ul>
            <li th:each="erreur : ${erreurs}" th:text="${erreur}"></li>
        </ul>
    </div>

		

	<input type="hidden" th:value="${token}" name="token"/>
	<div class="inblockMargin">
		<label for="idMotDePasse">Nouveau mot de passe : </label>
		<input id="idMotDePasse" type="password" name="NewMotDePasse"/>
		
	</div>
	<div class="inblockMargin">
		<label for="idMotDePasseConfirm">Confirmation : </label>
		<input id="idMotDePasseConfirm" type="password" name="PasswordConfirm"/>
		</div>
		<div class="inblockMargin">
			<button type="submit">Modifier</button>
		</div>
		<div class="inblockMargin">
			<a th:href="@{/login}">Annuler</a>
		</div>
	
	</form>


</main>

<footer th:replace="~{fragments/fragment-footer :: footer}"> </footer>
</body>
</html>