<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Demo Spring Boot Web</title>
	<link rel="stylesheet" th:href="@{/css/general.css}" />
	<link rel="stylesheet" th:href="@{/css/tp-form.css}" />
	<link rel="stylesheet" th:href="@{/css/tp-error.css}" />
	<link rel="stylesheet" th:href="@{/css/tp-table.css}" />
</head>
<body>

<header th:replace="~{fragments/fragment-entete :: entete}">
</header>

<main >
	<h1>Nouvelle vente</h1>
	
	<form th:action="@{/encheres/nouvelleVente}" method="POST" th:object="${article}">
		<ul class="flex-outer">
			<li>
				<label for="nomArticle">Article</label>
				<input id="nomArticle" type="text" th:field="*{nomArticle}"/>
				<p class="cards" th:errors="*{nomArticle}"></p>
			</li>
			<li>
				<label for="description">Description</label>
				<textarea id="description" th:field="*{description}"></textarea>
				<p class="cards" th:errors="*{description}"></p>
			</li>
			<li>
				<label for="categorie">Catégorie</label>
				<select id="categorie" th:field="*{categorieArticle}">
					<option th:each="c : ${categories}" th:text="${c.libelle}" th:value="${c.noCategorie}"></option>
				</select>
				<p class="cards" th:errors="*{categorieArticle}"></p>
			</li>
			<li>
				<label for="photo">Photo de l'article</label>
			</li>
			<li>
				<label for="miseAPrix">Mise à prix</label>
				<input id="miseAPrix" type="number" th:field="*{miseAPrix}"/>
				<p class="cards" th:errors="*{miseAPrix}"></p>
			</li>
			<li>
				<label for="dateDebutEncheres">Début de l'enchère</label>
				<input id="dateDebutEncheres" type="datetime-local" th:field="*{dateDebutEncheres}"/>
				<p class="cards" th:errors="*{dateDebutEncheres}"></p>
			</li>
			<li>
				<label for="dateFinEncheres">Fin de l'enchère</label>
				<input id="dateFinEncheres" type="datetime-local" th:field="*{dateFinEncheres}"/>
				<p class="cards" th:errors="*{dateFinEncheres}"></p>
			</li>
			<li>
				<label for="rue">Rue</label>
				<textarea id="rue" th:field="*{vendeur.rue}"></textarea>
				<p class="cards" th:errors="*{vendeur.rue}"></p>
			</li>
			<li>
				<label for="codepostal">Code Postal</label>
				<textarea id="codepostal" th:field="*{vendeur.codePostal}"></textarea>
				<p class="cards" th:errors="*{vendeur.codePostal}"></p>
			</li>
			<li>
				<label for="ville">Ville</label>
				<textarea id="ville" th:field="*{vendeur.ville}"></textarea>
				<p class="cards" th:errors="*{vendeur.ville}"></p>
			</li>
			<li>
				<button type="submit">Enregistrer</button>
				<table>
					<td>
						<a th:href="@{/encheres}">Annuler</a>
					</td>
				</table>
			</li>
		</ul>
	</form>
</main>

<footer th:replace="~{fragments/fragment-footer :: footer}">
</footer>

</body>
</html>